@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Variables globales que se reutilizan */
:root {
  --color-primary: #093931ff;
  --color-secondary: #f5d38eff;
  --color-text-primary: #0d554aff;
  --color-text-secundary: #b37d10ff;
  --color-links: #fff;
  --tipograpy-headings: "Cormorant Garamond", serif;
  --tipograhy-body: "Manrope", sans-serif;
}

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
/* Estilos del contenedor del header y del nav */
.header__nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 8.25rem;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__links ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header__links ul li {
  border-bottom: 4px solid transparent;
  border-radius: 0.13rem;
  padding: 0.65625rem 1.35188rem;
}

.header__links ul li a {
  text-decoration: none;
  color: var(--color-links);
  font-family: var(--tipograhy-body);
}

.header__links ul .active {
  border-color: var(--color-secondary);
}

.header__links ul .active a {
  color: var(--color-secondary);
}

.header__logo {
  font-family: var(--tipograpy-headings);
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.875rem;
  line-height: 2.875rem;
  font-weight: 400;
}

.header__buttons {
  display: flex;
  gap: 1.5rem;
}

.header__buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__buttons button:hover svg path {
  stroke: var(--color-secondary);
}

.cart {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 440px;
  height: 900px;
  background-color: var(--color-links);
  transition: right 0.3s ease;
  padding: 36px;
  z-index: 1000;
}

.cart.show {
  display: block;
}

.cart-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.cart-title h2 {
  font-family: var(--tipograpy-headings);
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  color: var(--color-text-primary);
}

.cart-item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 12px;
  align-items: center;
}

.cart-item:nth-child(1),
.cart-item:nth-child(2) {
  border-bottom: 1px solid #dee1e6ff;
}

.cart-item:nth-child(2),
.cart-item:nth-child(3) {
  padding-top: 13px;
}

.edit-item {
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
}

.cart-sub-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 89px;
}

.cart-sub-info button {
  margin-bottom: 24px;
}

.cart-item img {
  width: 94px;
  height: 94px;
  border-radius: 6px;
  margin-right: 16px;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h4 {
  font-family: var(--tipograpy-headings);
  line-height: 26px;
  font-weight: 700;
  color: #323842ff;
}

.cart-item-info p:nth-last-of-type(2) {
  font-family: var(--tipograhy-body);
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  color: #9095a0ff;
}

.cart-item-info p:nth-last-of-type(1) {
  font-family: var(--tipograhy-body);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #171a1fff;
}

.button-close {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.total-y-button {
  display: flex;
  flex-direction: column;
  margin-top: 318px;
}

.total-y-button button {
  width: 368px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--tipograhy-body);
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  background: var(--color-text-primary);
  border-radius: 26px;
  border: none;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dee1e6ff;
  padding-top: 17px;
  padding-bottom: 16px;
}

.total p:nth-last-of-type(2) {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #171a1fff;
  font-family: var(--tipograhy-body);
}

.total p:nth-last-of-type(1) {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #171a1fff;
  font-family: var(--tipograpy-headings);
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Color negro con 60% de opacidad */
  z-index: 999;
  display: none;
}

.header__menu {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
}

/* MAIN SECTION */
/* Contenedor principal de la sección principal */
.main-container {
  width: 80%;
  margin: auto;
}

/* Contenedor de Product nav */
.product-nav {
  padding: 72px 0 0px 66px;
}

.product-nav a {
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-right: 5px;
  font-family: var(--tipograhy-body);
}

.product-nav i {
  margin-right: 17px;
  vertical-align: middle;
}

/* Contenedor de Product Container */
.product-container {
  display: flex;
  padding: 24px 153px 72px 66px;
}

.product-img {
  flex: 0 0 auto;
}

.product-img img {
  width: 477px;
  height: 636px;
  border-radius: 8px;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 10px;
}

.thumbnail-container img {
  width: 64px;
  height: 82px;
}

.thumbnail-active {
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--color-text-primary);
  border-style: solid;
}
.product-details {
  flex: 1;
  margin-left: 48px;
}

.product-details h1 {
  font-family: var(--tipograpy-headings);
  color: var(--color-text-primary);
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
}

.code {
  line-height: 26px;
  font-weight: 400;
  color: #323842ff;
  font-family: var(--tipograhy-body);
}

.price {
  color: var(--color-text-secundary);
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  padding: 10px 0 10px 0;
}

.color-options p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #424955ff;
  font-family: var(--tipograhy-body);
}

.color-options,
.size-options,
.quantity {
  padding: 4px 16px 12px 0;
}

.color-option {
  width: 36px;
  height: 36px;
  background: #e6ae87ff;
  border-radius: 50%;
  margin-right: 16px;
}

.silver {
  background: #dee1e6ff;
  border-radius: 50%;
  border-width: 1px;
  border-color: #dee1e6ff;
  border-style: solid;
}

.rose {
  background: #e6ae87ff;
  border-radius: 50%;
  border-width: 2px;
  border-color: #0d554aff;
  border-style: solid;
}

.size-options p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #424955ff;
}

.size-options .sizes {
  padding: 4px 9px 12px 0;
}

.sizes button {
  margin-left: 3px;
}

.size-options .sizes button {
  width: 41px;
  height: 36px;
  border-radius: 4px;
  font-family: var(--tipograhy-body);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background-color: var(--color-links);
  border-width: 1px;
  border-style: solid;
}

.active {
  color: #8f640cff;
  border-color: #8f640cff;
}

.size-text {
  display: flex;
  justify-content: space-between;
  width: 535px;
  font-family: var(--tipograhy-body);
}

.size-text a {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #424955ff;
}

.quantity p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #424955ff;
  margin: -12px 0 4px 0;
}

.quantity button {
  width: 39px;
  height: 44px;
  padding: 0 16px;
  color: #565e6cff;
  font-family: var(--tipograhy-body);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quantity input {
  background: #f3f4f6ff;
  border-radius: 4px;
  border-width: 0px;
  outline: none;
  height: 44px;
  width: 38px;
  padding: 0 16px;
}

.add-to-bag,
.buy-now {
  width: 256px;
  height: 52px;
  background-color: var(--color-links);
  border-radius: 26px;
  border-width: 1px;
  border-color: #0d554aff;
  border-style: solid;
  font-family: var(--tipograhy-body);
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
}

.add-to-bag i {
  position: relative;
  top: 4px;
  margin-right: 8px;
}

.add-to-bag {
  color: var(--color-text-primary);
}

.buy-now {
  background-color: var(--color-primary);
  color: var(--color-links);
  margin-left: 24px;
}

.buttons-product {
  padding: 24px 0px 24px 0;
}

.extra-info {
  width: 556px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dropbtn {
  background: transparent;
  color: #171a1fff;
  line-height: 26px;
  font-weight: 400;
  padding: 16px;
  border-width: 0px;
  cursor: pointer;
  width: 266px;
  height: 44px;
  box-shadow: 0 1px 0 #9095a0;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}
/* ---Aqui se acaba el Contenedor Main--- */

/* Contenedor De Description */
.containerDescription {
  height: auto;
  margin: auto;
  width: 80%;
  background: #fafafbff;
  padding: 48px 0 24px 72px;
}

.description span {
  display: flex;
  line-height: 26px;
  font-weight: 400;
  color: #323842ff;
  font-family: var(--tipograhy-body);
  padding-bottom: 24px;
}

.description-text h1 {
  font-family: var(--tipograpy-headings);
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  color: var(--color-text-primary);
  padding-bottom: 12px;
}

.description-text p {
  font-family: var(--tipograhy-body);
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #323842ff;
  padding: 0px 72px 46px 0px;
  max-width: 100%;
}

.video-description video {
  width: 100%;
  height: auto;
  padding: 0px 72px 46px 0px;
}

/* Contenedor de Feature */
.container-feature {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  gap: 20px;
  background-color: var(--color-links);
}

.features {
  text-align: center;
  font-family: var(--tipograhy-body);
  margin: 50px;
  max-width: 250px;
}

.icon-feature {
  fill: var(--color-secondary);
  color: var(--color-secondary);
}

/* Contenedor de Section Products */
.products-title {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 48px 0 24px 0;
}

.products-title h1 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  font-family: var(--tipograpy-headings);
  color: var(--color-text-primary);
}

.products {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  padding-bottom: 96px;
}

.item {
  display: flex;
  flex-direction: column;
  height: 410px;
  width: 276px;
  margin: 0 15px;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.item img {
  height: 320px;
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.item h3 {
  font-size: 24px;
  font-family: var(--tipograpy-headings);
  line-height: 36px;
  font-weight: 700;
  color: #171a1fff;
  padding: 12px 0px 0px 12px;
}

.item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #171a1fff;
  padding-left: 12px;
  font-family: var(--tipograhy-body);
}

/* FOOTER SECTION */
/* Contenedor del footer */
.footer-section {
  display: flex;
  width: 100%;
  height: max-content;
  padding: 72px 134px 75px;
  background-color: var(--color-primary);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section-container {
  color: var(--color-links);
  margin-bottom: 50px;
}

.footer-section-container h2 {
  font-size: 48px;
  line-height: 68px;
  font-weight: 600;
  color: var(--color-links);
}

.footer-section-container p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color-links);
}

.footer-card {
  height: 375px;
  display: flex;
  align-items: center;
  background: #171a1f4d;
}

.footer-card figure img {
  width: 300px;
  height: 375px;
}

.card-text-main {
  padding: 32px;
  width: 324px;
}

.card-text-main p {
  line-height: 26px;
  font-weight: 400;
  color: var(--color-links);
  margin-bottom: 20px;
}

.text-card-name {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-links);
  font-family: var(--tipograhy-body);
}

.text-card-country {
  line-height: 26px;
  font-weight: 400;
  font-family: var(--tipograhy-body);
  color: var(--color-links);
}

.card-buttons {
  display: flex;
  position: relative;
  gap: 18px;
  top: 58px;
  left: 140px;
}

.buttonCircle {
  background-color: transparent;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border-width: 1px;
  border-color: #effdfaff;
  border-style: solid;
  cursor: pointer;
}

.btnNext {
  background-image: url(../assets/icons/flecha.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btnPrev {
  background-image: url(../assets/icons/flecha.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

/* FOOTER */
/* Contenedor principal del footer */
.footer {
  width: 100%;
  min-height: 234px;
  background-color: var(--color-primary);
  background-color: var(--color-primary);
  border-top: 1px solid #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 48px 132px;
  color: var(--color-links);
}

.footer-container a,
.footer-container ul {
  text-decoration: none;
  list-style: none;
}

.footer-logo {
  font-size: 30px;
  line-height: 46px;
  font-weight: 300;
  color: var(--color-secondary);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-column {
  margin-right: 94px;
}

.footer-link {
  font-family: var(--tipograhy-body);
}

.footer-copyright {
  font-family: var(--tipograhy-body);
}

.footer-item {
  margin-bottom: 12px;
}

.footer-item a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-links);
}

.footer-notices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-notices h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  font-family: var(--tipograpy-headings);
}

.footer-notices p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 16px;
  font-family: var(--tipograhy-body);
}

.footer-form {
  display: flex;
  height: 36px;
  justify-content: center;
  margin-top: 10px;
}

.form-subscripcion-input {
  width: 250px;
  background-color: transparent;
  border: solid 1px;
  padding: 10px;
  color: var(--color-links);
  border-radius: 30px 0 0 30px;
}

.button-submit {
  font-family: var(--tipograhy-body);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: var(--color-secondary);
  border: none;
  border-radius: 0px 30px 30px 0px;
  padding: 0 12px;
}

.footer-container2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 132px;
  align-items: center;
  color: var(--color-links);
}

.footer-socialicons {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  html {
    font-size: 14px;
    overflow-x: hidden;
  }

  .header__nav {
    align-items: flex-start;
    padding: 1rem;
  }

  .header__menu {
    display: block;
  }

  .header__links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .header__links.active {
    display: flex;
  }

  .header__links ul {
    flex-direction: column;
    width: 100%;
  }

  .product-nav {
    display: flex;
    padding: 15px;
    align-items: flex-end;
  }
  .product-container {
    display: block;
    padding: 16px;
    margin-bottom: 50px;
  }

  .product-img img {
    width: 100%;
    height: auto;
  }

  .thumbnail-container {
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
  }
  .product-details {
    margin-left: 0;
  }

  .code,
  .price,
  .color-options p,
  .size-options p,
  .quantity p {
    font-size: 14px;
    line-height: 20px;
  }

  .size-options .sizes button,
  .quantity button {
    width: 36px;
    height: 32px;
    font-size: 12px;
    line-height: 18px;
  }

  .size-text {
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }

  .size-text a {
    font-size: 13px;
  }

  .quantity input {
    height: 32px;
  }

  .add-to-bag,
  .buy-now {
    width: 100%;
    height: 44px;
    margin: 8px 0;
  }

  .extra-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }

  .containerDescription {
    display: flex;
    justify-content: center;
  }

  .description-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description-text h1 {
    display: flex;
    justify-content: flex-end;
    max-width: 100px;
  }

  .container-feature {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .container-products {
    display: flex;
    flex-direction: column;
  }

  .products-title {
    display: flex;
    justify-content: center;
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item {
    margin-bottom: 30px;
  }

  .video-description {
    display: flex;
    justify-content: center;
  }

  .video-description video {
    width: 300px;
    height: 200px;
  }

  .footer-section {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer-card {
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #171a1f4d;
    margin-bottom: 47vh;
  }

  .card-buttons {
    display: flex;
    position: relative;

    top: 0px;
    left: 0px;
  }

  .footer-section-container,
  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5vh;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
  }

  .footer-nav-column {
    margin-right: 0;
  }

  .footer-link {
    font-family: var(--tipograhy-body);
  }

  .footer-copyright {
    font-family: var(--tipograhy-body);
  }

  .card-text-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    width: 324px;
    text-align: center;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-container2 {
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

  .footer-notices {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10px;
  }

  .footer-form {
    flex-direction: column;
    align-items: center;
  }

  .form-subscripcion-input {
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .footer-logo-text {
    padding: 20px;
    font-size: 25px;
  }
  .button-submit {
    font-family: var(--tipograhy-body);
    background: var(--color-secondary);
    border-radius: 30px;
  }
}
