@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

header {
    background: #093931FF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
}

.header-menu {
    position: absolute;
    top: 10px;
    left: 1000px;
    width: 431px;
    height: 43px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    line-height: 22px;
    font-weight: 100;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.text {
    position: absolute;
    top: 8px;
    left: 280px;
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    line-height: 46px;
    color: #F5D38EFF;
}

.main-text h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: normal;
}

.nav-icons {
    display: flex;
    position: absolute;
    top: 21px;
    gap: 15px;
    left: 1330px;
    margin-left: 50px;
}

.nav-icons a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.container1 {
    background-image: url(/HomePage/assets/texture.svg);
    background-color: #093931FF;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 821px;
    display: flex;
}

.main-text {
    position: absolute;
    top: 100px;
    left: 280px;
    width: 537px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 62px;
    line-height: 94px;
    color: #F5D38EFF;
}

.main-button {
    position: absolute;
    top: 570px;
    left: 10px;
    width: 200px;
    height: 52px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    background: #00000000;
    opacity: 1;
    border-radius: 26px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
}

.main-button:hover {
    background: #005500;
    color: white;
}

.main-image {
    position: absolute;
    top: 139px;
    left: 1000px;
}

.main-image img {
    width: 407px;
    height: 543px;
    border-radius: 8px;
}

.main-image2 {
    position: absolute;
    top: 250px;
    left: 1280px;
}

.main-image2 img {
    width: 241px;
    height: 321px;
    border-radius: 121px 121px 0px 0px;
    box-shadow: 0px 8px 17px #171a1f, 0px 0px 2px #171a1f;
}

.container-feature {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.features {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin: 50px;
    max-width: 250px;
}

.icon-feature {
    fill: #F2C66DFF;
    color: #F2C66DFF;
}

.container-carousel {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-carousel button {
    border-radius: 26px;
    border-width: 1px;
    background: #00000000;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 28px;
}

.main-button2:hover {
    background: #005500;
    color: white;
}

.text-carousel {
    flex: 1;
    max-width: 300px;
    padding-left: 50px;
}

.item {
    position: relative;
    display: inline-block;
    margin: 0 10px
}

.item img {
    top: 0;
    max-width: 276px;
    height: 320px;
    margin: 8px;
    border-radius: 10px;
}

.item p {
    position: absolute;
    text-align: center;
    top: 380px;
    left: -6px;
    margin: 0;
    padding: 8px;
}

.collections {
    text-align: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.our-h1 {
    font-size: 2em;
    color: #005500;
    margin-bottom: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    position: relative;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.grid-item img:hover {
    transform: scale(1.05);
}

.grid-item:nth-child(2),
.grid-item:nth-child(5) {
    margin-top: -30px;
}

.shop-now {
    border-radius: 26px;
    border-width: 1px;
    color: #0D554AFF;
    background: #00000000;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 28px;
    margin: 20px;
    width: 200px;
    height: 52px;
}

.shop-now:hover {
    background: #005500;
    color: white;
}

.container-video {
    display: flex;
    align-items: center;
}

.our-story {
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.h1-story {
    font-size: 2em;
    color: #005500;
    margin-top: 50px;
}

.story-content {
    position: relative;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.story-content img {
    width: 100%;
    height: auto;
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.testimonial-section {
    display: flex;
    align-items: center;
    width: 100%; 
    height: 522px;
    background: #093931FF;
    margin-top: 30px;
}

.testimonial-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

.testimonial-text {
    width: 50%;
    margin-right: 20px;
    margin-left: 8.5rem;
    max-width: 400px;
}

.testimonial-text h2 {
    font-size: 2em;
    color: #fff;
}

.testimonial-text p {
    font-size: 1.2em;
    color: #ddd;
}

.testimonial-p {
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #FFFFFFFF;
}

.testimonial-quote {
    display: flex;
    background: #171A1F4D;
    border-radius: 10px;
    padding: 20px;
    width: 696px; 
    height: 375px;
    left: 712px;
    margin-left: 200px;
}

.testimonial-quote img {
    width: 300px;
    height: 335px;
    margin-right: 20px;
    border-radius: 10px;
}

.quote-text {
    display: flex;
    flex-direction: column;
}

.customer-name {
    font-size: 20px; 
    line-height: 30px; 
    font-weight: 700; 
    color: #FFFFFFFF;
}

.footer {
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 0;
    background: #093931FF;
}

.footer-container {
    display: flex;
    justify-content: space-around; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-subscribe p {
    font-size: 1em;
    color: #fff;
    margin-left: 5px;
}

.footer-subscribe form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}

.footer-subscribe input {
    padding: 10px;
    border: none;
    border-radius: 30px 0 0 30px;
    width: 70%;
}

.footer-subscribe button {
    padding: 10px 20px;
    background-color: rgb(247, 228, 29);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0px 30px 30px 0px;
    width: 30%;
}

.social-media img {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 5px;
}

.footer-brand h3 {
    font-family: Cormorant Garamond;
    font-size: 30px;
    line-height: 46px;
    font-weight: 400;
    color: #F5D38EFF;
}

.h4-footer {
    font-size: 1.2em;
    color: #fff;
}

.footer-subscribe p {
    font-size: 1em;
    color: #fff;
    margin-left: 5px;
}

.footer-links div {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

.footer-brand,
.footer-links,
.footer-subscribe {
    flex: 1;
    margin: 0 50px;
}

.footer-brand h3,
.footer-links h4,
.footer-subscribe h4 {
    font-weight: 300;
}

/* Dispositivos de escritorio */
@media (min-width: 992px) {
    /* Se mantienen las mismas reglas CSS base */
}

/* Dispositivos tablet */
@media (max-width: 991px) and (min-width: 768px) {
    .header-menu,
    .nav-icons,
    .main-text,
    .main-image,
    .main-image2 {
        left: initial;
        position: static;
        margin: 0 auto;
        text-align: center;
    }

    .header-menu,
    .nav-icons {
        flex-direction: column;
        gap: 10px;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .main-text {
        position: static;
        margin-top: 20px;
        width: 100%;
        font-size: 40px;
        line-height: 50px;
    }

    .main-button {
        position: static;
        margin-top: 20px;
    }

    .main-image,
    .main-image2 {
        position: static;
        margin-top: 20px;
        left: initial;
    }

    .container-feature {
        flex-direction: column;
        padding: 10px;
    }

    .features {
        margin: 20px 0;
    }

    .container-carousel {
        flex-direction: column;
    }

    .text-carousel {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }

    .collections {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .our-story,
    .testimonial-section {
        flex-direction: column;
    }

    .testimonial-text {
        margin: 0 auto;
        text-align: center;
    }

    .testimonial-quote {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links,
    .footer-brand,
    .footer-subscribe {
        margin: 10px 0;
    }
}

/* Dispositivos móviles */
/* Dispositivos de escritorio */
@media (min-width: 992px) {
    /* Se mantienen las mismas reglas CSS base */
}

/* Dispositivos tablet */
@media (max-width: 991px) and (min-width: 768px) {
    .header-menu,
    .nav-icons,
    .main-text,
    .main-image,
    .main-image2 {
        left: initial;
        position: static;
        margin: 0 auto;
        text-align: center;
    }

    .header-menu,
    .nav-icons {
        flex-direction: row;
        gap: 10px;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .main-text {
        position: static;
        margin-top: 20px;
        width: 100%;
        font-size: 40px;
        line-height: 50px;
    }

    .main-button {
        position: static;
        margin-top: 20px;
    }

    .main-image,
    .main-image2 {
        position: static;
        margin-top: 20px;
        left: initial;
    }

    .container-feature {
        flex-direction: column;
        padding: 10px;
    }

    .features {
        margin: 20px 0;
    }

    .container-carousel {
        flex-direction: column;
    }

    .text-carousel {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }

    .collections {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .our-story,
    .testimonial-section {
        flex-direction: column;
    }

    .testimonial-text {
        margin: 0 auto;
        text-align: center;
    }

    .testimonial-quote {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links,
    .footer-brand,
    .footer-subscribe {
        margin: 10px 0;
    }
}

/* Diseño responsive en construcción */
/* @media (max-width: 767px) {
    .header-menu,
    .nav-icons,
    .main-text,
    .main-image,
    .main-image2 {
        left: initial;
        position: static;
        margin: 0 auto;
        text-align: center;
    }

    .header-menu,
    .nav-icons {
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .main-text {
        position: static;
        margin-top: 20px;
        width: 100%;
        font-size: 30px;
        line-height: 40px;
    }

    .main-button {
        position: static;
        margin-top: 20px;
    }

    .main-image,
    .main-image2 {
        position: static;
        margin-top: 20px;
        left: initial;
    }

    .container-feature {
        flex-direction: column;
        padding: 10px;
    }

    .features {
        margin: 20px 0;
    }

    .container-carousel {
        flex-direction: column;
    }

    .text-carousel {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }

    .collections {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .our-story,
    .testimonial-section {
        flex-direction: column;
    }

    .testimonial-text {
        margin: 0 auto;
        text-align: center;
    }

    .testimonial-quote {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links,
    .footer-brand,
    .footer-subscribe {
        margin: 10px 0;
    }
} */
